.container {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width:80%;
    margin: auto;
}
.container h1{
    flex-basis: 100%;
    font-size: 4rem;
    margin:3rem  0rem 1rem 0rem; 
}
.content {
    flex-basis: 50%;
    font-size: 1.5rem;
}
.content p {
    line-height: 170%;
}
.simonimg{
    flex-basis: 30%;
    display: flex;
    align-items: center;
}
.contact {
    display: inline;
    list-style-type: none;
    padding:0rem; 
}
.contact li {
    display: inline;
    padding-right: 1rem;
}
.contact li a{
    font-size: 2.5rem;
}

