.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  width: 90%;
  margin: auto;
}
.blogcard {
  background-color: white;
  height: 50vh;
  flex-basis: 25%;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 1.1px 0.6px 1.4px rgba(0, 0, 0, 0.002),
    2.5px 1.4px 3.2px rgba(0, 0, 0, 0.004),
    4.5px 2.5px 5.8px rgba(0, 0, 0, 0.007),
    7.4px 4.2px 9.6px rgba(0, 0, 0, 0.012),
    12.2px 6.9px 15.9px rgba(0, 0, 0, 0.022),
    21.3px 12px 27.7px rgba(0, 0, 0, 0.038), 46px 26px 60px rgba(0, 0, 0, 0.07);
}
.cardimg {
  min-width: 100%;
}
.category,
.author {
  margin: 0rem;
}
.author {
  font-size: 0.9rem;
  text-transform: capitalize;
  margin-top: 0rem;
}
.category {
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
