.nav {
  padding: 2rem;
  position: relative;
}
.centernav {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.link {
  border: 0.1rem solid #bead91;
  border-radius: 0.25rem;
  margin: 0.75rem;
  padding: 0rem 0.5rem 0rem 0.7rem;
}
.link:hover {
  background-color: #bead91;
  color: #000000;
}
.rightnav {
  float: right;
}
