
.main {
  background-image: url("../public/background-img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.name {
  text-align: center;
  position: relative;
  top:20%;
}
.main h1 {
  font-size: 5rem;
  margin: 0rem;
  letter-spacing: 0.15rem;
}
.main h2 {
  font-size: 2.5rem;
  margin: 0rem;
}
